
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    padding-inline-start: 0;
}

#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.navigation {
    background: #E5E5E5;
    margin: 0 auto;
    text-align: center;
}

.links {
    display: inline-block;
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin: 17px 15px 17px;
}

.links:hover {
    color:#F13C6E
}

.logo-container {
    width: 1110px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.phone {
    text-decoration: none;
    color: black;
    position: absolute;
    right: 217px;
    top: 38px;
}

.phone:hover {
    color: #F13C6E;
}

.button {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    background: #ffffff;
    padding: 10px 60px 10px 48px;
    position: absolute;
    top: 27px;
    right: 5px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.white-hover:hover {
    background: #F13C6E;
    color: #FFFFFF;
}

.logo {
    float: left;
    margin: 20px 0;
}

.menu {
    margin: 0 auto;
    text-align: center;

}
.links-menu {
    font-size: 16px;
    margin: 26px 19px 30px;
}

.banner {
    background-image:url('/HW9/images/background.jpg');
    width: 100%;
    padding: 30px;
}

.text {
    color: #ffff;
    display: block;
    max-width: 300px;
    margin: 167px 0;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

.text p {
    font-weight: 400;
    font-size: 14px; 
    margin: 45px 0px;
}

.button-banner {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 64px;
    text-decoration: none;
    color: #FFFFFF;
}

.pink-hover:hover {
    color:#F13C6E;
    background: #FFFFFF;
    border: #F13C6E 2px solid;
}

.grey {
    background: #E5E5E5;
}

h2 {
    margin: 0;
    padding: 54px 0;
}

.list-cards {
    margin: 0 -15px;
    list-style: none;
    padding-bottom: 67px;
}

.list-cards > li {
    width: 25%;
    float: left;
    padding: 20px 15px;
}

.list-cards::after {
    content: '';
    clear: both;
    display: block;
}

.label-cards {
    background: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding-bottom: 30px;
}

.price {
    font-weight: 500;
    font-size: 21px;
    margin: 5px 0;
}

.product-image {
    margin-top: 25px;
}

.logos::after {
    content: '';
    clear: both;
    display: block;
}

.impuls > li {
    width: 25%;
    float: left;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
}

.impuls a {
    display: block;
    padding: 36px 53px 29px 65px;
}

.info::after{
    content: '';
    clear: both;
    display: block;
}

.info {
    margin-bottom: 88px;
}

.recently-viewed > h2 {
    padding:74px 0px 34px;
}

.pink-block {
    background: #F13C6E;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 40px 33px;
}
.bonuses {
    float: left;
}

.bonuses img {
    padding-right: 60px;
}

.map img {
    padding-top: 20px;
}

.map {
    float: right;
    margin-left: 15px;
}

.split1 {
    background: #F13C6E;
    width: 50%;
    float: left;
    color: #FFFFFF;
    margin: 0 -15px;
}

.split2 {
    background: #F13C6E;
    width: calc(50% - 15px);
    float: right;
    padding: 0px 56px;
}

input {
    border-radius: 30px;
    border: #FFFFFF;
    padding: 10px 20px;
    font-size: 14px;
    color: #C4C4C4 ;
}

.main-text {
    font-weight: 700;
    font-size: 18px;
}

.button-cards {
    padding-top: 16px;
}

.categories {
    width: 25%;
    float: left;
    background: #FFFFFF;
    padding: 52px 0px;
    margin: 0 auto;
    text-align: left;
}

.white::after{
    content: '';
    clear: both;
    display: block;
}

.column > li {
    list-style: none;

}

.categories span {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    margin-bottom: 34px;
}
 
.column a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #828282;
    line-height: 28px;
}

.column a:hover {
    color: #F13C6E;
    text-shadow: 3px 5px 6px #828282;
}

.text-categories {
    max-width: 250px;
    border-bottom: 1px solid #EFEFEF;
}

.header-bar {
    border-top: 1px solid #EFEFEF;
}
.icon a {
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #F13C6E; 
    padding: 7px 10px;
    float: left;
    margin: 30px 6px;
    width: 50px;
    height: 50px;
    padding: 13px 10px;
    text-align: center;
}

.icon img {
    max-width: 100%;
}


.white {
    background: #FFFFFF;
}

.bottom {
    padding: 8px 0px;
}

.bottom p {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.text-bottom {
    float: right;
}

.chair-buy p {
    padding: 0px 22px;
    color: black;
    font-size: 14px;
    line-height: 20px;
}

.chair-buy {
    text-decoration: none;
}

.header-panel {
    background: #E5E5E5;
}

.white {
    border-bottom: 1px solid #EFEFEF;
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz:hover{
    animation-name: hvr-buzz;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes hvr-buzz {
    50% {
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
}

.hvr-push:hover{
    animation-name: hvr-push;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes hvr-push {
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
}

.hvr-grow  {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.7s;
    transition-property: transform;
}

.hvr-grow:hover {
    transform: scale(1.1);
}

.hvr-underline-from-left {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #F13C6E;
    height: 4px;
    transition-property: right;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before {
    right: 0;
}

.hvr-glow {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
  }
  .hvr-glow:hover{
    box-shadow: 0 0 10px #F13C6E;
  }